<mat-toolbar color="primary">



  <ng-container *ngIf="(authService.currentUser$ | async ) as user;">

    <button mat-icon-button >
      <mat-icon class="menu-icon">menu</mat-icon>
      Menu
    </button>
  
    
  </ng-container>

    <span class="app-name" routerLink="landing">    

      <img src="./assets/images/logo_160.png" class="logo" />
      Project Zassets
    </span> 




      <ng-container *ngIf="(authService.currentUser$ | async) as user; else loginButton ">
        <!-- PREVIOUS WORKING LOGOUT-->
        <!-- <button mat-button (click)="logout()">
          <mat-icon>logout</mat-icon>
          logout
        </button> -->
        
        <button mat-button [mat-menu-trigger-for]="userMenu">
          
          <mat-icon>account_circle</mat-icon>
          
          {{ user.email}}

          <mat-icon>expand_more</mat-icon>
          
        </button>

      </ng-container>

      <ng-template #loginButton>
        <button mat-button routerLink="login">
          <mat-icon>login</mat-icon>
          Login
        </button>

      </ng-template>

      


    

    <!-- <button mat-button routerLink="signup">
      <mat-icon>login</mat-icon>
      DEV Sign Up
    </button> -->

  </mat-toolbar>



  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
  


  <div class="content">
    <router-outlet></router-outlet>
  </div>