<mat-toolbar color="primary">
    
    <span class="app-name" routerLink="landing">
      <img src="./assets/images/logo_160.png" class="logo" />
      Project Zassets</span> 

      <ng-container *ngIf="(authService.currentUser$ | async) as user; else loginButton ">
        <button mat-button (click)="logout()">
          <mat-icon>logout</mat-icon>
          logout
        </button>

      </ng-container>

      <ng-template #loginButton>
        <button mat-button routerLink="login">
          <mat-icon>login</mat-icon>
          Login
        </button>

      </ng-template>


    

    <button mat-button routerLink="signup">
      <mat-icon>login</mat-icon>
      DEV Sign Up
    </button>


  </mat-toolbar>
  
  <div class="content">
    <router-outlet></router-outlet>
  </div>